<div ng-controller="ProductItemsCtrl">
	<div class="container">
		<a href="#" class="btn btn-primary pull-right" ng-show="showAddProductItemButton" ng-click="toggleAddProductItemContainer(true);toggleAddProductItemButton(false);"><i class="icon-plus-sign"></i>&nbsp;&nbsp;&nbsp;New Product Item</a>
	</div><!-- /.container -->
	
	<div class="container">
	  <div id="add-product-item-container" ng-show="showAddProductItemContainer">
		<form ng-submit="addProductItem()" class="form-horizontal well">
			<fieldset>
				<div class="form-group">
					<label for="product_item_name">Name</label>
					<div>
				  	  <input type="text" class="form-control" id="product_item_name" ng-model="newProductItem.name">
					</div>
				</div>
				<div class="form-group">
					<label for="product_item_description">Description</label>
					<div>
				  	  <textarea class="form-control" id="product_item_description" ng-model="newProductItem.description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="product_item_unit_id">Unit</label>
					<div ng-controller="UnitsCtrl">
					  <select class="form-control" id="product_item_unit_id" ng-options="unit.id as unit.name for unit in units" ng-model="newProductItem.unit_id"></select>
					</div>
				</div>
				
				<input type="hidden" class="form-control" id="product_item_company_id" ng-model="newProductItem.company_id" ng-init="newProductItem.company_id=<%= current_user.company_id %>">
				
				<div class="form-group pull-right">
	  				<input type="button" value="Cancel" class="btn" ng-click="toggleAddProductItemContainer(false);toggleAddProductItemButton(true);">
	  				<input type="submit" value="Save" class="btn btn-primary">
				</div>
			</fieldset>
		</form>
	  </div><!-- /#add-product-item-container -->
	</div><!-- /.container -->
	
	<div class="container">
	  <div id="product-items-container">
		<div class="gridStyle" ng-grid="gridOptions">
		</div>
	  </div><!-- #product-items-container -->
	</div><!-- /.container -->
</div>