<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Quotable", root_path, :class => "brand" %>
      <div class="container-fluid nav-collapse pull-right">
        <ul class="nav">
			<% if user_signed_in? %>
			  <li><%= link_to current_user.first_name + " " + current_user.last_name, edit_user_registration_path %></li>
			  <li><%= link_to( "Logout" , destroy_user_session_path, method: :delete ) %></li>
			<% else %>
              <li><%= link_to "Sign In" , new_user_session_path %></li>
              <li><%= link_to "Sign Up" , new_user_registration_path %></li>
			<% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar navbar-fixed-top-->

<% if user_signed_in? %>
  <div id="subnav" class="navbar navbar-inverse container">
	  <div class="navbar-inner">
		  <div class="container">
			  <%= link_to current_user.company.name, root_path, :class => "brand" %>
			  <div>
				  <ul class="nav">
					  <li><%= link_to "Dashboard", dashboard_index_path %></li>
					  <li><%= link_to "Proposals", proposals_path %></li>
					  <li><%= link_to "Product Items", product_items_path %></li>
				  </ul><!-- /.nav -->
			  </div>
		  </div><!-- /.container -->
	  </div><!-- /.navbar-inner -->
  </div><!-- /.navbar navbar-inverse -->
<% end %>