<div ng-controller="ProposalsCtrl">
	<div class="container">
		<a href="#" class="btn btn-primary pull-right" ng-show="showAddProposalButton" ng-click="toggleAddProposalContainer(true);toggleAddProposalButton(false);"><i class="icon-plus-sign"></i>&nbsp;&nbsp;&nbsp;New Proposal</a>
	</div><!-- /.container -->
	
	<div class="container">
	  <div id="add-proposal-container" ng-show="showAddProposalContainer">
		<form ng-submit="addProposal()" class="form-horizontal well">
			<fieldset>
				<div class="form-group">
					<label for="proposal_name">Name</label>
					<div>
				  	  <input type="text" class="form-control" id="proposal_name" ng-model="newProposal.name">
					</div>
				</div>
				<div class="form-group">
					<label for="proposal_content">Content</label>
					<textarea id="proposal_content" ck-editor ng-model="value"></textarea>
				</div>
				
				<input type="hidden" class="form-control" id="proposal_user_id" ng-model="newProposal.user_id" ng-init="newProposal.user_id=<%= current_user.id %>">
				
				<div class="form-group pull-right">
	  				<input type="button" value="Cancel" class="btn" ng-click="toggleAddProposalContainer(false);toggleAddProposalButton(true);">
	  				<input type="submit" value="Save" class="btn btn-primary">
				</div>
			</fieldset>
		</form>
	  </div><!-- /#add-proposal-container -->
	</div><!-- /.container -->
	
	<div class="container">
	  <div id="proposals-container">
		<div class="gridStyle" ng-grid="gridOptions">
		</div>
	  </div><!-- #proposals-container -->
	</div><!-- /.container>
</div>