/* Flatly
 * Bootswatch
 *= require_self
 *= require angular-ui-ng-grid
 *= require flatly/loader
 *= require flatly/bootswatch
 *= require flatly/font-awesome
*/

body {
	padding-top: 80px;
}

#subnav {
	padding-bottom: 20px;
}

.gridStyle {
    min-height: 500px;
}
